<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Apartment:</strong>
      <%= @condominium_fee.apartment_id %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Value:</strong>
      <%= @condominium_fee.value2f %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Due date:</strong>
      <%= @condominium_fee.due_date %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Paid:</strong>
      <%= @condominium_fee.paid %>
    </p>
  </div>
</div>