<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Number:</strong>
      <%= @apartment.number %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Number of rooms:</strong>
      <%= @apartment.number_of_rooms %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Resident:</strong>
      <%= @apartment.resident ? @apartment.resident.name : 'Residente não informado' %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Owner:</strong>
      <%= @apartment.owner.name %>
    </p>
  </div>
</div>